.reveal h1 {
    font-size: 2.0em;
}

.reveal h2 {
    text-transform: none;
}

.reveal h3 {
    text-transform: none;
}

.reveal section img {
    background: none;
    border: none;
}

div.reference {
    padding-top:20px;
}

.reference p{
    color: grey;
    font-size: 60%;
    text-align: left;
}

.reference ol li {
    color: grey;
    font-size: 60%;
    text-align: left;
}


p.title-slide-subheading {
    font-family: serif;
    font-size: 1.4em;
}

